<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <!--<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">-->
    <!--<button class="btn btn-success">-->
    <!--<i class="ace-icon fa fa-signal"></i>-->
    <!--</button>-->

    <!--<button class="btn btn-info">-->
    <!--<i class="ace-icon fa fa-pencil"></i>-->
    <!--</button>-->

    <!--<button class="btn btn-warning">-->
    <!--<i class="ace-icon fa fa-users"></i>-->
    <!--</button>-->

    <!--<button class="btn btn-danger">-->
    <!--<i class="ace-icon fa fa-cogs"></i>-->
    <!--</button>-->
    <!--</div>-->

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>
</div><!-- /.sidebar-shortcuts -->
<div id="nav-div">
<ul class="nav nav-list" id="sidebar-menu" >
    <li data-level="1" v-for="r in nodes" @click="changeArrow(r)">
        <a href="javascript:void(0);" class="dropdown-toggle"
           :haschild="r.check_Child_State==0?'true':'false'">
            <i class="menu-icon" :class="r.icon"></i>
            <span class="menu-text" style="vertical-align: middle;"> {{r.name}}</span>
            <b class="arrow fa"
               :class="r.arrow?'fa-angle-up':'fa-angle-down'"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu nav-hide" style="display: none">
            <li data-level="2" v-for="ch in r.children">
                <a  :id=`menu_${ch.url.replace(/\//g,'')}` haschild="false" :href="ch.url">
                    <i class="menu-icon" :class="ch.icon"></i>
                    <span class="menu-text"> {{ch.name}} </span>
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
</ul><!-- /.nav-list -->
</div>
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>
<script type="text/javascript" src="static/jquery/jquery.js"></script>
<script type="text/javascript" src="static/vue/vue.js"></script>
<script type="text/javascript" src="static/ztree/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript">
    let vm=new Vue({
        el:"#nav-div",
        data:{
            nodes:[]
        },
        methods:{
            init:function () {
                let setting={
                    data: {
                        simpleData: {
                            enable: true,
                            idKey: "id",
                            pIdKey: "parentId"
                        }
                    }
                }
                let init = $.fn.zTree.init($("#tree"), setting, this.nodes);
                
                let nodes = init.getNodes();
                $.fn.zTree.destroy("tree");
                for (let nodesKey in nodes) {
                    nodes[nodesKey].arrow=false;
                }
                this.nodes=nodes;
            },
            changeArrow:function (r) {
                r.arrow=!r.arrow
            }
        },
        created:function () {
            let item = sessionStorage.getItem("resourcessession");
            this.nodes = JSON.parse(item);
            this.init()
            
        }
    })
</script>